.bulletinboard {
    
}

ul.bulletinboard > li {
    text-align: start;
    border: lightblue 2px solid;
    border-radius: 0.5em;
    padding-left: 1em;
    margin-bottom: 0.5em;
    list-style-type: none;
}