.bulletinboard {
    width: 20em;
    padding-inline-start: 0;
}

ul.bulletinboard > li {
    text-align: start;
    border: lightblue 2px solid;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
    list-style-type: none;
}

.bulletinboard-wrapper {
    margin-top: 2em;
}